<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans             
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/context            
							http://www.springframework.org/schema/context/spring-context-3.0.xsd"							      
		default-autowire="byName">
	
	<context:component-scan	base-package="uk.ac.tgac.rampart">
		<context:include-filter type="regex" expression="(service|dao)\..*"/> 
	</context:component-scan>
		
	<bean id="applicationContextProvider" class="uk.ac.tgac.rampart.util.ApplicationContextProvider" />
	
	<bean name="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation">    
	        <value>
	            classpath:hibernate.cfg.xml
	        </value>
    	</property>
		<!-- <property name="dataSource" ref="dataSource" /> -->
		<property name="packagesToScan"	value="uk.ac.tgac.rampart.data" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- Naming strategy to convert camel case to lower with _ e.g. ClientSession 
		to client_session -->
	<bean id="namingStrategy" class="org.hibernate.cfg.ImprovedNamingStrategy" />
	
	<bean id="defaultLanguage" class="java.lang.String">
		<constructor-arg>
			<value>en</value>
		</constructor-arg>
	</bean>
	
</beans>